<div class="landing-page">
  <p class="well well-lg col-md-8 col-md-offset-2 text-center">New York City Housing Authority's units are at most 50 years old and have a huge backlog of repairs.
   This is due mostly to budget cuts from Congress and Albany. The authority faces roughly $16 billion in unmet capital needs. <br> Yet many people continue to live in apartments that are not just deteriorating but are often ovecrowded too. <br><br>Learn more about these repair issues:</p>

</div><br>
<div class= "col-md-8 col-md-offset-2 text-center">
<a href="<%=violations_path%>"><button class="btn btn-default">view charts</button></a>
</div> 